//Import fonts=======================================================================================================
@import url('');
//Import null style==================================================================================================
@import "nullstyle";

main{
	flex: 1 1 auto;
}
.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color:#fff;
}